/*Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap'); 
/* font-family: 'Pacifico', cursive; */

* {
  margin: 0;
  padding: 0;
}

/*Home page*/

body {
  background: url(../images/bg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #193b53;
  min-height: 100vh;
}

.bodybg {
  background-color: #193b53;
}

.nav-link {
  font-family: "Pacifico";
}

.navbar-toggler {
    margin-right: 10px;
}

.nav-item a{
    font-size: 24px;
    color:#edd371;
    margin-left: 10px;
    margin-right: 10px;
}

.nav-item a:hover {
    color:#edd371;
    opacity: 0.7;
    transition: 0.3s;
}

.active{
    color: #edd371 !important;
    opacity: 0.7;
}

.audio-container {
  display: none;
}

.remove {
  text-decoration: none;
  color: white;
  color: #edd371;
  font-size: 40px;
}

.formText {
  text-decoration: none;
  color: white;
  color: #edd371;
  font-size: 20px;
}

.remove:hover {
  text-decoration: none;
  color: white;
  color: #edd371;
  font-size: 40px;
}

.card-content {
  font-weight: lighter;
  font-family: "Luckiest Guy", cursive;
  opacity: 0.9;
  color: #edd371;
}

.card-content p {
    padding-top:20px;
}

.about-content {
  font-weight: lighter;
  font-family: "Luckiest Guy", cursive;
  color: #edd371;
}

.headline {
  background-image: url(/assets/images/gold-textured-background.jpg);
  background-attachment: fixed;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 100px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #540032;
  font-weight: 800;
}

.logo {
  height: 40px;
}

.welcome_content {
  text-align: center;
  color: whitesmoke;
  font-family: 'Domine', serif;
  padding-top: 60px;
}

/* About page */

#about-intro {
  text-align: center;
  margin-top: 4em;
  margin-bottom: 4em;
  padding: 0 20px 0 20px;
  size: 300px;
}

.about-us-img-container {
  display: flex;
  justify-content: center;
  align-items: top;
  flex-wrap: wrap;
  gap: 30px;
  padding: 10px;
}

.participant {
  width: 200px;
}

.participant>.participant-img {
  width: 180px;
  border-radius: 50%;
  border: 2px solid rgb(95, 95, 95);
}

.participant-github {
  width: 35px;
  height: 35px;
  text-align: center;
}

/*Styling Create A Card */

.create-card-btn {
  width: 150px;
  height: 40px;
  margin-top: 20px;
  vertical-align: middle;
  display: table-cell;
  border-radius: 5px;
}

#image {
  background-position: center;
  background-size: cover;
  width: 100%;
}

.create-card-btn a {
  text-decoration: none;
  color: black;
}

.create-card-btn a:hover {
  color: red;
}

.btn-play {
  background-color: transparent;
  margin-top: 10px;
}

.btn-stop {
  background-color: transparent;
  margin-right: 6px;
  margin-top: 10px;
  margin-left: 10px;
}

.cardContainer {
  width: 400px;
  height: 400px;
  border-color: #edd371;
  border-style: outset;
}

.titleFont {
  font-size: 2.4em;
}

.contentFont {
  font-size: 1.2em;
}

.senderFont {
  font-size: 1.2em;
}

#title, #content, #sender {
  font-size: 30px;
  font-family: 'Playfair Display', serif;
  font-weight: normal;
}

.play-stop-btn {
    padding-top: 30px;
    text-align: center;
    color: #edd371;
}

/* Form button styles*/
.form-btn .btn {
    background-color: #edd371;
    color: #193b53;
    width: 130px;
    font-weight: 600;
    margin: 5px;
    border-color: #edd371;
}

.form-btn .btn:hover {
    transition: 0.3s;
    background-color: #edd371;
    color: #193b53;
    opacity: 0.8;
}

/* Adding some media rules for more responsive layout*/
@media screen and (max-width: 600px) {
    .headline {
        font-size: 60px;
        font-weight: 600;
      }

    .form-btn .btn {
        background-color: #edd371;
        color: #193b53;
        width: 121px;
        font-weight: 500;
        margin-top: 3px;
        border-color: #edd371;
    }
   
}